.container-theapp {
	margin-top: 70px;
	margin-bottom: 60px;
}

.row-theapp {
	padding-right:50px;
	padding-left: 50px;
}

.col-md-4 {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

.app-screenshot {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works {
	font-size: 28px;
}

.icon-howitworks {
	width: 130px;
	margin-bottom: 15px
}
