.appstore-img {
  max-width: 250px;
  margin-top:25px;
}

.app-screenshot {
  width: 300px;
}

.appstore-img2 {
  max-width: 125px;
  float: right;
}

.h2-theapp {
  margin-left: 100px;
  margin-right: 100px;
}

.p-theapp {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
