/* Enter Your Custom CSS Here */
@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,700';
.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

.fa {
  color: white;
}

.fa:hover {
  color: #95b0cc;
}

/* Navigation */
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 44%;
    height: 80px;
    z-index: 98;
    padding: 20px;
    background-color: transparent;
}

.nav-hamburger {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    float: left;
}

/* Main */
.section {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 0px;
}

.half-left {
  width: 44%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: fixed;
}

.half-right {
  width: 56%;
  height: 100%;
  float: right;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.home-left {
  background-image: ;
  background-size: cover;
  background-position: center center;
}

.home-left-content {
    margin-top: 10em;
    margin-left: 2em;
    margin-right: 4em;
}

.home-logo {
  width: 450px;
  margin-bottom: 8em;
}

.home-right {
    overflow-y: scroll;
    padding-bottom: 45px;
}

.home-intro {
  padding: 12em 6em;
  text-align: center;
}

.fa-chevron-down {
  color: #333;
  font-size: 22px !important;
}

.fa-chevron-down:hover {
  font-size: 28px !important;
  transition: 0.1s ease;
}

.rectangle {
  position: relative;
    z-index: 97;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center center;
    transition: all 0.3s ease;
}

.square {
    cursor: pointer;
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    transition: all 0.3s ease;
}

.square-content {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-title-box {
    background-color: rgba(18, 62, 108, 0.7);
    text-align: center;
    margin-top: 8em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.home-title-box h2 {
    color: white;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 6px 0px;
}

.home-title-box h3 {
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 2px 0px;
}

.home-concept {
  background-image: url('../img/home/home-concept.jpg');
  background-size: cover;
  transition: all 0.3s;
  background-position: center;
}

.home-concept:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

.home-mission {
  background-image: url('../img/home/home-mission.jpg');
  background-size: cover;
  transition: all 0.3s;
  background-position: center;
}

.home-mission:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

.home-competition {
  background-image: url('../img/home/home-competition.jpg');
  background-size: cover;
  transition: all 0.3s;
  background-position: center;
}

.home-competition:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

.home-team {
    background-image: url('../img/home/home-team.jpg');
    background-size: cover;
    transition: all 0.3s;
    background-position: center;
}

.home-team:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

.home-partners {
  background-image: url('../img/home/home-mission.jpg');
  background-size: cover;
  transition: all 0.3s;
  background-position: center;
}

.home-partners:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

.home-news {
  background-image: url('../img/home/home-mission.jpg');
  background-size: cover;
  transition: all 0.3s;
  background-position: center;
}

.home-news:hover {
    box-shadow: inset 0 0 0 6px rgba(18, 62, 108, 0.7);
    cursor: pointer;
}

/* ALL Pages */
.left-bg-img {
    height: 650px;
    background-size: cover;
    background-position: center;
    margin-top: -2em;
}

.left-page-title {
    padding-top: 20em;
}

.left-page-title h1 {
    color: white;
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.page-right {
    overflow-y: scroll;
    padding-bottom: 6em;
}

/* Concept Page */
.page-concept {
    margin-top: 6em;
    padding-left: 5em;
    padding-right: 8em;
}

#nav-bar-concept {
    background-color: white;
    position: fixed;
    top: 0;
    width: 56%;
    z-index: 97;
    text-align: center;
    padding: 20px 0;
}

.concept-navtext {
  color: #333;
}

.concept-icon-row {
  padding-bottom: 16px;
  height: 150px;
}
.concept-icon {
    background-color: #95b0cc;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 5px;
    margin-top: 1.5em;
}

/* Competition Page */
.page-competition {
    margin-top: 6em;
    padding-left: 5em;
    padding-right: 8em;
}

.competition-logo-row {
  margin-top: 5em;
  margin-bottom: 5em;
}

.competition-logo-sdchina {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
}

.competition-logo-usdoe {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
}

/* Team Page */
.team-profilepic {
  width: 100%;
  opacity: 0.8;
}

.team-infohover {
  color: #fff;
  opacity: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 4em;
}

.team-infohover:hover {
  opacity: 1;
}

.team-profilepic:hover {
  opacity: ;
  transition: ;
}

.team-profpic {
    height: 166px;
    background-size: cover;
}

.team-profpic:hover {
  opacity: ;
  transition: ;
}

/* Partners Page */
.page-partners {
    margin-top: 6em;
    padding-left: 5em;
    padding-right: 8em;
}

.partners-leveltitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 3em;
}

.partners-logo-box {
    text-align: center;
}

.partners-logo {
    width: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

/* Contact Page */
.page-contact {
    margin-top: 6em;
    padding-left: 5em;
    padding-right: 8em;
}


/* Footer */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #123e6c;
    padding-top: 10px;
    padding-bottom: 2px;
    z-index: 999999;
}

.footer-logo {
  height: 28px;
  padding-right: 3em;
}

/* Hidden Navigation */
.navigation {
  list-style: none;
  background: #123e6c; /* Backgound color */
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 2em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*hides nav behind content */
  z-index: 0;
  /*get rid of color gap on top of menu*/
  margin-top: 0;   
}

.nav-text {
  color: #fff;
}

.nav-text-active {
  color: #95b0cc;
}

.nav-text:hover {
  color: #95b0cc;
}

a {
  text-decoration:none;
  color: #ffffff; /*white*/
}

li.nav-item {
  font-size: 20px;
  padding-bottom: 2px;
  font-weight: 100;
}
       /*--------end of navigation styling--------*/

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #ffffff; /* white */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: ; /*spaces out content from hamburger*/
}

    /*----stylize nav-trigger actions and looks-----*/
/*hide the checkbox*/
.nav-trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /*nav stays in the same spot as user scrolls*/
  position: fixed; 
  /*position hamburger menu*/
  top: 15px;
  left: 15px;
  /*z-index needs to be 1 higher than site-wrap*/
  z-index: 2;
  width: 30px;
  height: 30px;
  /*changing to pointer indicates interactivity*/
  cursor: pointer;
  color: #111111;
}

/*styling to create "hamburger" icon (refer to notes)*/
.hidden_nav:before {
  content: "";
  position: absolute;
  top: 1em;
  width: 2em;
  height: 1.1em;
  border-top: .7em double #fff;
  border-bottom: 0.25em solid #fff;
  z-index: 3;
}

/*the following lines make the effect work*/
/*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
/*uses adjacent sibling selector (+)--> nav-trigger:checked must come first so label moves after checkbox is activated*/
.nav-trigger:checked + label {
  left: 200px;
}

/*ensures that the site-wrap is pushed to the right*/
/*uses general sibling selector (~) to target site wrap after nav-trigger gets activated*/
.nav-trigger:checked ~ .site-wrap {
  left: 180px;
  opacity: 0.5; /* tinted effect on .site-wrap when menu is open */
  transition: 0.2s ease-in-out;
}

/*add slight transition to effect*/

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

/*keep site-wrap from scrolling across window from left to right when menu is opened*/
body {
  overflow-x: hidden;
}
    /*----end of styling navigation actions and looks----*/

/*---end of what is required for sliding hamburger drawer effect--*/