/* Enter Your Custom CSS Here */
/* Navigation */
.block-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-container {
	background-color: #65c6c2;
    height: 80px;
}
.nav-left {
	width: 45%;
	float: left;
	background-color: #fff;
    height: 80px;
}
.nav-right {
	width: 55%;
	float: left;
}
.nav-logo {
    display: block;
    margin-left: 2em;
}
.nav-logo img {
    height: 90px;
    width: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
.dropdown-content a {
    color: black;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-btn {
    border-top: 3px solid;
    transition: 0.2s ease-in-out;;
}

/* Header */
.block-header {
    padding-top: 5.6em;
}
.header-container {
	background-color: #65c6c2;
}
.header-left {
	width: 45%;
	float: left;
	background-color: #fff;
}
.header-banner-img {
	width: 100%;
}
.header-right {
	width: 55%;
	float: left;
}
.header-tagline {
    text-align: right;
    margin-top: 18em;
    margin-right: 4em;
    color: white;
}
.header-tagline h2 {
	font-size: 46px;
    letter-spacing: 2px;
    font-weight: 100;
}

/* Footer Section */
.block-footer {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}
.footer-container {

}
.footer-left {

}
.footer-right {
    text-align: right;
    margin-top: 10px;
}
.footer-logo {
    width: 120px;
    margin: 0em 1.5em;
}

/* Content */
.block-content {

}
.content-left {
	width: 45%;
	float: left;
}
.content-right {
	width: 55%;
	float: left;
}
/* Home - Concept Section */
.home-concept-block {
    text-align: right;
    margin-top: 4em;
    margin-right: 4em;
    margin-left: 6em;
}
/* Home - Concept - Icons */
.concept-icon {
    width: 100%;
    padding: 7em;
}
.stackable-home {
	background-color: #ffb982;
}
.stackable-home:hover {
	background-color: #FFA65F;
	transition: 0.3s ease-in-out;
}
.sustainable-home {
	background-color: #ffd582;
}
.sustainable-home:hover {
    background-color: #FFC95F;
    transition: 0.3s ease-in-out;
}
.affordable-home {
	background-color: #65c6c2;
}
.affordable-home:hover {
    background-color: #258F8B;
    transition: 0.3s ease-in-out;
}
.livable-home {
	background-color: #7491cf;
}
.livable-home:hover {
    background-color: #5071B7;
    transition: 0.3s ease-in-out;
}
/* Home - Mission Section */
.block-mission {
	color: #fff;
}
.mission-container {
	background-color: #65c6c2;
}
.mission-left {
	background-color: #949494;
    padding-top: 6em;
    padding-bottom: 1em;
}
.mission-left h2 {
	text-align: right;
    margin-right: 1em;
    margin-top: 3em;
    font-size: 54px;
}
.mission-right {
}
.mission-content-block {
    margin-top: 18em;
    margin-left: 2em;
    margin-right: 4em;
    text-align: left;
}
.mission-right h4 {
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 1px;
}

/* Home - Team Section */
.block-team {
    margin: 14em 3em;
}
.home-team-blockleft {

}
.home-team-blockright {
    text-align: right;
}
.home-team-blockleft .row {
    margin-bottom: 2em;
}
.team-icon {
    background-color: #949494;
    padding: 2em;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

/* Home - Partners Section */
.block-partners {
    color: #fff;
}
.partners-container {
    background-color: #eceff1;
}
.partners-left {
    background-color: #65c6c2;
    padding-top: 12.5em;
    padding-bottom: 1em;
}
.partners-left h2 {
    text-align: right;
    margin-right: 1em;
    margin-top: 3em;
    font-size: 54px;
}
.partners-content-block {
    margin: ;
}

.partners-content-block img {
    width: 100%;
    padding: 2em;
}
.partners-right {
    margin-top: 6em;
    padding-left: 2em;
    padding-right: 2em;
}

/* Home - Connect Section */
.block-connect {
    color: #fff;
}
.connect-container {
    background-color: #FFB982;
}
.connect-left {
    background-color: #7491cf;
    padding-top: 6em;
    padding-bottom: 1em;
    padding-left: 2.5em;
}
.connect-left h2 {
    color: #fff;
}
.connect-left:hover {
    background-color: #5071B7;
    transition: 0.2s ease-in-out;
}
.connect-right {
    padding-top: 6em;
    padding-bottom: 1em;
    padding-left: 2.5em;
}
.connect-right h2 {
    color: #fff;
}
.connect-right:hover {
    background-color: #FFA65F;
    transition: 0.2s ease-in-out;
}

/* Pages - Subheader */
.block-subheader {
    color: #fff;
}

.subheader-container {
    background-color: #65c6c2;
}
.subheader-left {
    background-color: #949494;
    padding-top: 3em;
    padding-bottom: 1em;  
}
.subheader-left h2 {
    text-align: right;
    margin-right: 1em;
    margin-top: 2em;
    font-size: 54px;
}
.subheader-right {
    margin-top: -1em;
}
.subheader-content-block {
    margin-top: 11em;
    margin-left: 2em;
    margin-right: 4em;
    text-align: left;
}
.subheader-right h4 {
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 1px;
}

/* Concept Pages */
.concept-banner-img {
    width: 100%;
}
.header-title {
    text-align: right;
    margin-top: 11em;
    margin-right: 8em;
    color: white;
}
.header-title h2 {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 100;
}
.concept-content {
    width: 68%;
    margin-top: 6em;
    margin-bottom: 4em;
    margin-left: 6em;
}
.concept-content p {
    margin-bottom: 1.7em;
}
.concept-picture {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
}

/* Team Page */
.team-dropdown {
    color: #fff;
    padding: 1.2em 6em;
    font-weight: 
}
.team-dropdown h3 {
    font-weight: 400;
    letter-spacing: 1px;
}
.dropdown-faculty {
    background-color: #5071B7;
}
.dropdown-leads {
    background-color: #FFA65F;
}

.dropdown-students {
    background-color: #FFC95F;
}

button.accordion {
    color: #fff;
    cursor: pointer;
    padding: 1.8em 3em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    transition: 0.4s;
}
.faculty-accordion {
    background-color: #7491CF;
}
button.faculty-accordion.active, button.faculty-accordion:hover {
    background-color: #5071B7;
}
.leads-accordion {
    background-color: #FFB982;
}
button.leads-accordion.active, button.leads-accordion:hover {
    background-color: #FFA65F;
}
.students-accordion {
    background-color: #FFD582;
}
button.students-accordion.active, button.students-accordion:hover {
    background-color: #FFC95F;
}
div.panel-team {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel-team.show {
    padding: 3em 2em;
    opacity: 1;
    max-height: 3000px;
}

.team-bio-box {
    margin-bottom: 2em;
}
.team-bio-left {
    width: 50%;
    float: left;
    padding: 8px;
}
.team-bio-right {
    width: 50%;
    float: left;
    padding: 8px;
}
.team-bio-right h4 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    margin-bottom: 1em;
}
.team-bio-right p {
    line-height: 1.2em;
}
.team-bio-photo {
    width: 100%;
}

/* Support Page */
.support-content {
    margin-top: 3em;
    margin-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
}
.support-content img {
    width: 100%;
    padding: 4em;
}
.support-getinvolved {
    background-color: #eceff1;
    padding: 6em 4em;
}
/* Contact Page */
.contact-content {
    margin-top: 4em;
    margin-bottom: 6em;
    padding-left: 14em;
    padding-right: 4em;
}



